/* BASE */
@import url(sanitize.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300,200,100);

body {
	font-family: 'Raleway', "Helvetica Neue", "Helvetica", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, "メイリオ", sans-serif;
}

h1 {
	font-size: 100px;
	font-weight: 900;
	line-height: 100%;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
	font-weight: 500;
}

img {
	max-width: 100%;
	margin-bottom: 15px;
}

/* LAYOUT */
.layout-section {
	padding: 20px 70px;
	text-align: center;
}

.layout-alignleft {
	text-align: left;
}

.layout-top {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.layout-column {
	display: inline-block;
}

.layout-column3 {
	width: 31%;
}

.layout-column2left {
	width: 35%;
}

.layout-column2right {
	width: 62%;
}

.layout-left {
	overflow: hidden;
	margin: auto 0;
}

.layout-right {
	margin-left: 20px;	
}

.layout-clear {
	clear: both;
}

.layout-footer {
	padding: 5px 70px;
}

.layout-mb80 {
	margin-bottom: 80px;
}

.layout-mb50 {
	margin-bottom: 50px;
}

.layout-mb30 {
	margin-bottom: 30px;
}

.layout-mb20 {
	margin-bottom: 20px;
}

.layout-mb10 {
	margin-bottom: 10px;
}
.layout-mr30 {
	margin-right: 30px;
}

/* MODULE */

.module-headline {
	font-size: 30px;
	margin-top: 40px;
}

.module-text {
	font-size: 20px;
}

.module-textjp {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, "メイリオ", sans-serif;
	font-size: 15px;
	line-height: 140%;
	text-align: justify;
}
.module-texten {
	font-size: 14px;
	line-height: 140%;
}

.module-textstronger {
	font-size: 25px;
}

.module-textstrongest {
	font-size: 25px;
	font-weight: 600;
}

.module-border {
	border-top: 1px solid;
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.module-border-yellow {
	border-color: #b6aa3d;
}

.module-border-green {
	border-color: #38895c;
}

.module-footercopyright {
	float: left;
	font-size: 14px;
	color: #222;
}

.module-footercontact {
	float: right;
	font-size: 14px;
	color: #222;
	text-decoration: underline;
}

.module-footercontact:hover {
	color: #444;
}
.module-footercontact:active {
	color: #444;
}
.module-footercontact:visited {
	color: #333;
}


#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
/*	background:#fff;
	background: rgba(255,255,255, 0.5); */
	-webkit-border-radius: 10px;
            border-radius: 10px;
}

/* #menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
} */

#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	/* color: #000; */
}
#menu li:hover{
	text-decoration: underline;
	color: #444;
	/* background: rgba(255,255,255, 0.8); */
}
#menu li a,
#menu li.active a{
	padding: 3px 18px;
	display:block;
}
/*
#menu li.active a{
	color: #fff;
}*/
#menu{
	position:fixed;
	text-align: right;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#footer {
	position:fixed;
	/* height: 50px; */
	display:block;
	width: 100%;
	z-index:9;
	text-align:center;
	/* color: #f2f2f2; */
	/* padding: 20px 0 0 0; */
	bottom:0px;	
}


@media screen and (max-width: 640px) {
	/* BASE */

	h1 {
		font-size: 50px;
	}
	h2 {
		margin-bottom: 30px;
	}
	h3 {
		margin-bottom: 15px;
	}

	/* LAYOUT */
	
	.layout-section {
	padding: 30px 20px;
	}
	.layout-top {
		margin-bottom: 25px;
	}
	.layout-column {
		margin-bottom: 15px;
	}
	.layout-column3 {
		width: 100%;
	}
	.layout-column2left {
		width: 100%;
	}
	.layout-column2right {
		width: 100%;
	}
	.layout-sp1col {
		margin-left: 0;
	}
	.layout-sp1row {
		display: inline-block;
		width: 80px;
	}
	.layout-spmb30 {
		margin-bottom: 30px;
	}

	.layout-footer {
		padding: 5px 20px;
	}
	
	/* MODULE */
	
	.module-headline {
		font-size: 25px;
	}
	.module-text {
		font-size: 18px;
	}
	.module-textstronger {
		font-size: 20px;
	}
	.module-textjp {
		font-size: 16px;
	}
	.module-texten {
		font-size: 16px;
	}
	.module-imgcenter {
		text-align: center;
		padding: 0 50px;
	}


}


/* SlideShare のレスポンシブ対応 */
.layout-slideshare {
  position: relative;
  width: 31%;
  height: 0;
  padding-bottom: 30%;
}
@media screen and (max-width: 640px) {
  .layout-slideshare {
  	padding-bottom: 75%;
  	width: 100%;
  }
} 
.layout-slideshare iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  max-width: 478px;
  max-height: 400px;
}